/******* Variables 1 *******/
$bgcolorHover: #2da8f0;
$borblue: #1f53c5;
$azul1: #2e65cc;
$azul2: #93b0e7;
$azul3: #93bbee;
$azul4: #00d2ff;
$azul5: #338dff;
$azul6: #2d63c9;
$blanco: #fff;
$negro: black;